body {
    margin: 0;
    padding: 0;
    background-color: #301E1D;
}

/* navigation */
.navbar {
    background-color: #191010;
    padding: 10px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-list {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: end;
    gap: 0 50px;
}

.nav-link {
    color: #CBCCCC;
    font-size: 20px;
    display: flex;
    align-items: center;
    gap: 2px;
    text-decoration: none;
}

.nav-link:hover {
    color: #8E8B7B;
}

.about {
    margin-top: 1rem;
    margin-left: 20px;
}

.about-main {
    color: #CBCCCC;
}


/* fonts */

@font-face {
    font-family: "Crimson Text";
    src: url("../assets/fonts/CrimsonText-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Crimson Text Italic";
    src: url("../assets/fonts/CrimsonText-Italic.ttf") format("truetype");
}

@font-face {
    font-family: "Cormorant Garamond";
    src: url("../assets/fonts/CormorantGaramond-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Cormorant Garamond Italic";
    src: url("../assets/fonts/CormorantGaramond-Italic.ttf") format("truetype");
}

.crimson {
    font-family: "Crimson Text", serif;
    font-weight: 400;
}

.crimson-i {
    font-family: "Crimson Text Italic", serif;
    font-weight: 500;
    font-style: italic;
}

.cormorant {
    font-family: "Cormorant Garamond", serif;
    font-weight: 400;
}

.cormorant-i {
    font-family: "Cormorant Garamond Italic", serif;
    font-weight: 400;
}

/* poems */

.poem-section {
    padding: 20px;
    margin-top: 25px;
}

.poem-list {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 50px;
    grid-row-gap: 75px;
}

.poem-item {
    padding: 20px;
    border-radius: 5px;
    background-color: #483533;
    cursor: pointer;
}

.poem-item:hover {
    filter: brightness(1.1);
}

.poem-title {
    font-size: 30px;
    font-weight: 500;
    margin: 0;
    color: #8E8B7B;
}

.poem {
    white-space: pre-wrap;
    padding: 0 15px;
    font-size: 25px;
    color: #CBCCCC;
    margin-top: 15px;
}

.poem-display {
    margin: 3rem 5rem;
}

.single-poem .poem-title {
    margin-bottom: 1.5rem;
}

.pagination {
    background-color: #191010;
    position: absolute;
    border-radius: 10px;
    top: 90%;
    left: 50%;
}

/* Pagination */
.pagination a {
    color: #CBCCCC;
    float: left;
    padding: 1rem 2.5rem;
    text-decoration: none;
    transition: background-color .3s;
}

/* Style the active/current link */
.pagination a.active {
    background-color: #3E2019;
    color: #CBCCCC;
}

.left-link:hover {
    background-color: #462216;
    border-radius: 10px 0 0 10px;
}

.right-link:hover {
    background-color: #462216;
    border-radius: 0 10px 10px 0;
}
